div {
	display: flex;
	justify-content: center;
}

.tabel,.baris,.kolom{
	border: 1px solid;
	}


.tabel {
	text-align: center;

}

.baris {
	padding: 10px;
}

.pangkat {
	background-color: ;
}

.cyan {
	background-color: cyan;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}