body {
	display: flex;
	background-color: skyblue;
	margin: 0;
  height: 100vh;
	align-items: center;
	justify-content: center;
  font-family: verdana;
}

form {
  display: block;
	background-color: white;
	border-radius: 12px;
  padding: 20px;
  width: 300px;
}

legend {
  font-size: 14pt;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="number"] {
  text-align: center;
}

select, option {
  text-align: center;
}

.kirim {
  2width: 100px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  gap: 10px;
}

